.productInformation {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  height: 100%;
}

.productImg {
  margin-left: 1rem;
  height: 45rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
}
.img {
  width: 32rem;
  padding: 0.2rem;
  height: 30rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.info {
  display: flex;
  gap: 8rem;
  font-size: x-large;
}
.Productprice {
  width: 7rem;
  border: solid greenyellow;
  border-radius: 0.5rem;
  font-size: large;
  background-color: green;
}
.category {
  width: 20rem;
  font-size: x-large;
  font-weight: bolder;
}
.desc {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.stars {
  color: gold;
  background-color: black;
}
.reviewCount {
  width: 15rem;
  background-color: black;
  color: goldenrod;
  border-radius: 0.5rem;
}
.cart {
  border: solid orange;
  border-radius: 0.5rem;
  background-color: yellow;
  font-size: large;
}

.buyingInfo {
  display: flex;
  gap: 8rem;
}
