.navbar {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: 900;
  align-items: center;
  gap: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: whitesmoke;
  background-color: blueviolet;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 1rem;
}
.cartButton {
  background-color: crimson;
  height: 2rem;
  width: 5rem;
  border-radius: 0.5rem;
  font-size: large;
  font-weight: bold;
}
.allButtons {
  margin-top: -2rem;
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}
