.cartItems {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cartTotal {
  display: flex;
  justify-content: right;
  width: 40rem;
  margin-top: 1rem;
  border-top: solid;
  padding-right: 1rem;
}
