.cartProduct {
  padding: 0.3rem;
  display: flex;
  width: 45%;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  background-color: lightslategray;
}

.productImage {
  width: 10rem;
}

.total {
  display: flex;
  margin-top: 8rem;
}
